@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font: 700 54px Lora, serif;
}

h2 {
  font: 700 28px Lora, serif;
}

footer {
  background: #212121;
  height: 200px;
}

.row {
 margin-right:0px;
}

.nav-item {
  margin-left: 4.5vw;
}

.nav-link {
  color: #222222 !important;
  text-decoration: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-family: 'Lora', serif;
  font-size: 15px;
}

.nav-link:hover, .active {
  border-bottom: 0px solid #d3e9e1;
  box-shadow: inset 0 -10px 0 #d3e9e1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: -4px;
  height:-2px;
}

/* centered columns styles */
.row-centered {
   text-align:center;
}
.col-centered {
   display:inline-block;
   float:none;
   /* reset the text-align */
   text-align:left;
   /* inline-block space fix */
   margin-right:-4px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.head-shot:hover {
  -moz-box-shadow: 10px 10px 0px #B4DACD;
  -webkit-box-shadow: 10px 10px 0px #B4DACD;
  box-shadow: 10px 10px 0px #B4DACD;
}



.name-caption {
	text-align:center;
	font: 20px Roboto, sans-serif;
  padding-right:30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    display: inline;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

.padding-top-bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}

.purple-bg {
  background: #463975;
}

.banner {
  font: 54px Lora, serif;
  font-style: italic;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top:100px;
  padding-bottom:100px;
}

.blog-banner {
  color: #222222;
  text-align: center;
  margin: 0 auto;
  padding-top:100px;
  padding-bottom:100px;
}

.headline {
  font: 54px Lora, serif;
  font-style: italic;
  font-weight: 700;
  color: #222222;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.img-box-shadow {
  width:80%;
  -webkit-box-shadow: 20px 20px 0px 0px rgba(255,204,111,1);
  -moz-box-shadow: 20px 20px 0px 0px rgba(255,204,111,1);
  box-shadow: 20px 20px 0px 0px rgba(255,204,111,1);
}

.teal-bg {
  background: #C5E7DB;
}

.blog-button {
  text-decoration: none;
  color:#222222;
}

.blog-button:hover {
  transition: 0.2s ease;
  text-decoration: none;
  color:#463975;
}


.report-link {
  font-family: Roboto;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px #222222 solid;
  color:#222222;
  padding: 15px;
  letter-spacing: 2px;
}

.report-link:hover {
text-decoration: none;
background: #222222;
color:#C5E7DB;
transition: 0.3s ease;
}

.report-link-white {
  font-family: Roboto;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px white solid;
  color:white;
  padding: 15px 25px;
  letter-spacing: 2px;
  margin:0 auto;
  margin-bottom: 75px;
}

.report-link-white:hover {
text-decoration: none;
background: white;
color:#222222;
transition: 0.3s ease;
}

.footer-link {
  color:white;
  text-decoration: none;
}

.footer-link:hover {
  color:#C5E7DB;
}



/*media queries*/
/*xs*/
@media screen and (max-width: 767px) {

.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: #222222;
  text-align: center;
  background: #FFCC6F;
  padding-top:50px;
}

.number {
  font: 100px Lora, serif;
  font-weight: 700;
}

.caption {
  margin-bottom:-20px;
  font-size: 16px;
}

.body-content {
  margin-left:10px;
}


.banner-long {
    font: 24px Lora, serif;
    font-style: italic;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:5%;
    padding-right:5%;
  }

.inclusive-section {
  margin-top: 100px;
  margin-bottom:100px;
  padding-top:80px;
  }

.sandbox {
  padding-left:0;
  padding-top:70px;
  margin:0 auto;
}

  .score-row {
    margin-top: 150px;
  }

  .blog-h2 {
  font: 36px Lora, serif;
  font-weight: 700;
}

  .stack-up {
    padding-top: 0px;
  }

  .head-shot {
  display:block;
  width:100%;
  margin-bottom:15px;
  margin-top:50px;
  }

  .modal-pic {
  padding-top:20px;
  padding-bottom:10px;
  width:100%;
}

.modal-text {
  padding-top:10px;
}

.img-padding {
    padding-left: 3%;
}

}

/*small*/
@media screen and (min-width: 768px) {


.modal-pic {
  padding-top:20px;
  padding-bottom:20px;
  width:70%;
  padding-left:30%;
}

.modal-text {
  padding-top:10px;
  padding-right:10%;
  padding-left:10%;
}


    .stack-up {
    padding-top: 20px;
  }

.circle {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  color: #222222;
  text-align: center;
  background: #FFCC6F;
  padding-top:120px;
}

.number {
  font: 150px Lora, serif;
  font-weight: 700;
}

.caption {
  margin-bottom:-20px;
  font-size: 20px;
}

.banner-long {
    font: 36px Lora, serif;
    font-style: italic;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top:75px;
    padding-bottom:75px;
    padding-left:10%;
    padding-right:10%;
  }

.inclusive-section {
  margin-top: 150px;
  margin-bottom:150px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top:80px;
  padding-bottom:80px;
  border: solid 8px #463975;
  }

.sandbox {
  padding-top:100px;
  margin:0 auto;
}

.score-row {
    margin-top: 100px;
  }

    .blog-h2 {
  font: 54px Lora, serif;
  font-weight: 700;
}

.head-shot {
  display:block;
  width:90%;
  margin-bottom:15px;
  margin-top:50px;
}

.img-padding {
    padding-left: 0;
}

}

/*med*/
@media screen and (min-width: 992px) {
  
  .modal-pic {
    padding-top:50px;
    padding-bottom:50px;
    width:100%;
    padding-left:5%;
  }

  .modal-text {
    padding-top:50px;
  }

   .stack-up {
    padding-top: 30px;
  }

  .circle {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  color: #212121;
  text-align: center;
  background: #FFCC6F;
  padding-top:120px;
}

  .banner-long {
    font: 54px Lora, serif;
    font-style: italic;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top:100px;
    padding-bottom:50px;
  }

  .inclusive-section {
    margin-top: 150px;
    margin-bottom:150px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top:80px;
    padding-bottom:80px;
    border: solid 8px #463975;
  }

  .sandbox {
    margin:0 auto;
    margin-top:-30px;
  }

  .inclusive-h2 {
    padding-top: 20px;
  }

  .score-row {
    margin-top: 150px;
  }

  .img-padding {
    padding-left: 5%;
}
}

/*lg*/
@media screen and (min-width: 1200px) {
      .stack-up {
    padding-top: 100px;
  }

    .modal-pic {
    padding-top:50px;
    padding-bottom:50px;
    width:80%;
    padding-left:10%;
  }

  .modal-text {
    padding-top:50px;
  }

}